# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
venv/
.env/
.flaskenv

# Databases
*.db
*.sqlite3

# Docker
*.log
.dockerignore
Dockerfile.*

# Legacy code
legacy/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Ignore uploaded CSV files
uploads/
*.csv
*.tmp

# Other
*.bak
*.tmp
