.delete{
    display:flex;
    flex-direction:column;
    margin:0;
    justify-content:center;
    font-family:Arial, Helvetica, sans-serif;
    align-items:center;


}
.logo{
    display:block;
    margin: 0 auto;
    width:300px;
}