body{
    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin:0;
    padding:0;
    min-height: 100vh;
}
h1{
    color:rgb(0, 0, 0);
    text-align : center;
}
.generator{
    display:flex;
    gap: 50px;
    padding:20px;
    box-sizing:border-box;
    justify-content:center;
}
.inputs{
    flex:3;
    
}
form{
    width:10%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    gap: 3px;
}
form p{
    color:rgb(0, 0, 0);
    align-items: flex-start;
    margin:0;
    padding: 0;
    display:flex;
    flex-direction:column;
    gap:1px;

}
form label{
    font-weight: bold;
    margin-bottom:5px;
    color:black;
}
input[type="number"],
select{
    width:100%;
    padding:4px;
    border: 1px solid;
    border-radius: 5px;
    font: size 12px;
    box-sizing:border-box;
}

.logo{
    display:block;
    margin: 0 auto;
    width:300px;
}
.output-table{
border: 2px solid #000; 
border-radius: 10px; 
overflow: hidden;       
display: inline-block;
}
.output{
    flex:2;
}
#resultTable td {
border-bottom: 1px solid #000;
padding: 12px 10px;
text-align: center;

}
#resultTable th{
border-bottom: 2px solid #000;
font-weight: bold;
}

#resultTable {
border-collapse:collapse;
border-spacing: 10px;
border: 2px solid #000;
border-radius:20px;
overflow:hidden;
}