body{
    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin:0;
    padding:0;
    min-height: 100vh;
}
h1{
    color:rgb(0, 0, 0);
    text-align : center;
}
.generator{
    display:flex;
    gap: 50px;
    padding:20px;
    box-sizing:border-box;
    justify-content:center;
}
.inputs{
    flex:3;
    
}
form{
    width:10%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    gap: 3px;
}
form p{
    color:rgb(0, 0, 0);
    align-items: flex-start;
    margin:0;
    padding: 0;
    display:flex;
    flex-direction:column;
    gap:1px;

}
form label{
    font-weight: bold;
    margin-bottom:5px;
    color:black;
}
input[type="number"],
select{
    width:100%;
    padding:4px;
    border: 1px solid;
    border-radius: 5px;
    font: size 12px;
    box-sizing:border-box;
}

.logo{
    display:block;
    margin: 0 auto;
    width:300px;
}
.output-table{
     flex: 2;
    overflow-y: auto;
    padding: 20px;
}
.output{
    flex:2;
}