body{
    background-color:rgb(236, 236, 235);
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin:40px;
}
h1{
    color:black;
    text-align : center;
}
form{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 15px;
}
p{
    color:black;
    text-align : center;
}
#output {
    background-color :rgb(248, 179, 5);
    border: 2px solid black;
    padding :15px;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: black;
    white-space: pre-wrap;
    text-align: left;
}